<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem vindo ao Magazine Peças
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Magazine é um sistema de gerenciamento de peças onde você pode cadastrar suas peças, fazer atualizações e remover, um sistema em que você pode usar para o controle e vendas.
    </mat-card-subtitle>
</mat-card>


<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Soluções para sua Bike</mat-card-title>
        <mat-card-subtitle>Aproveite o melhor sistema de gerenciamento de peças</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-img src="assets/img/imagem-01.jpg" alt="foto01">
    <mat-card-content>
        <p>
            Transforme sua experiência com um sistema totalmente novo e inovador, totalmente remodelado para que você possa ter uma experiencia incrivél.
        </p>
    </mat-card-content>
</mat-card>

<mat-card class="example-card2">
    <mat-card-header>
        <mat-card-title>Transforme sua bike</mat-card-title>
        <mat-card-subtitle>As melhores peças do mercado você encontra aqui</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-img src="assets/img/imagem-04.jpg" alt="foto01">
    <mat-card-content>
        <p>
            O lugar onde você pode encontrar as melhores peças do mercado é aqui na magazine peças, envolva seus clientes com as melhores peças do mercado.
        </p>
    </mat-card-content>
</mat-card>