<mat-toolbar class="header">
    
    <span class="title-group">
        <a routerLink="{{ routeUrl }}"> <!--link para a nossa rota de inicio-->
            <i class="material-icons">
                {{ icon }} <!--interpolando o Icon -->
            </i>
            {{ title }} <!-- interpolação do valor de title-->
        </a>
    </span>
   
    <span class="icon-group">
        <i class="material-icons">
           facebook
            email
            flight
            
         </i>
         #Go Orange
    </span>
     
</mat-toolbar>